$color-primary: #65b3c9;
$color-primary-light:#c1e0e9;
$color-primary-dark: #28304f;
$color-secondary: #d8777b;
$color-secondary-light:#efc8ca;
$color-tertiary: #4A7C59;
$color-tertiary-light: #b6cabc;

$color-dark: #303541;
$color-white: #fdfdfe;
$color-gray: #a1aaba;
$color-bg-gray: #f7f7f7;

$color-error: #DB504A;

$gutter-horizontal: 3rem;
$gutter-vertical: 3.5rem;