.btn{
    &,
    &:link,
    &:visited{
        text-transform:uppercase;
        text-decoration:none;
        padding: 15px 40px;
        display:inline-block;
        transition: all .2s;
        border:none;
        cursor:pointer;
    }
    &:hover{
        transform: translateY(-3px);
        box-shadow: 0 10px 10px rgba($color-dark,.2);
    }
    &:active, &:focus{
        outline:none;
        transform: translateY(1px);
        box-shadow: 0 5px 5px rgba($color-dark,.2);
    }
    &-animate-up{
        animation: moveInBottom 1s ease-out;
    }

    &-white{
        background-color: $color-white;
        color: $color-primary;
        font-size: 1.25rem;
    }
    &-primary{
        background-color: $color-primary;
        color: $color-white;
        font-size: 1.5rem;
    }
}

.btn-text{
    &:link,
    &:visited{
        color: $color-primary;
        display: inline-block;
        text-decoration:none;
        border-bottom: 1px solid $color-primary;
        font-size: 1.5rem;
        padding: 3px;
        transition: all .2s ease-in-out;
    }
    &:hover{
        background-color: $color-primary;
        color: $color-white;
        box-shadow: 0 .5rem 1rem rgba($color-primary-dark, .2);
        transform: translateY(-2px);
    }
    &:active{
        transform: translateY(1px);
    }
}