.photo-composition{
    position:relative;

    @include responsive(tab-port){
       margin-top: 2rem;
    }

    .photo{
        width: 55%;
        box-shadow: 0 1.5rem 4rem rgba($color-dark, .2);
        position:absolute;
        z-index: 10;
        transition: all .2s;
        outline-offset: .75rem;

        @include responsive(tab-port){
            position:relative;
            width: 33.33%;
            float:left;
        }

        &_1{
            left: 0; 
            top: -2rem;

            @include responsive(tab-port){
                top: .5rem;
                transform: scale(1.2);
            }
        }
        &_2{
            right: 0; 
            top: 2rem;

            @include responsive(tab-port){
                top: -1rem;
                transform: scale(1.3);
                z-index: 15;
            }
        }
        &_3{
            left: 20%; 
            top: 10rem;

            @include responsive(tab-port){
                left: 0;
                top: 2rem;
                transform: scale(1.1);
            }
        }
        &:hover{
            transform: scale(1.15) translateY(-0.5rem);
            z-index: 20;
            box-shadow: 0 2.5rem 4rem rgba($color-dark, .4);
            outline: .5rem solid $color-secondary;
        }
    }
}